extends base.pug
block scripts 
    script(src="/static/script.js") 
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js")
    script(src="/static/nav.js") 
block style 
    style
            include ../static/style.css 
block content 
        section#introSection
            div Welcome to Sana's Dance Academy 
            div.small Eat Dance learn sleep
        section#missionSection 
            h2 Our Mission
            div.card 
                h3 Dance Perfection
                div.card-box 
                    div.card-img 
                        img(src="/static/img/1.png", alt="")
                    div.card-container 
                        p This is the best academy Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo?
            div.card 
                h3 Dance the way as you like
                div.card-box 
                    div.card-img 
                        img(src="/static/img/2.png", alt="")
                    div.card-container 
                        | This is the best academy Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo?
            div.card 
                h3 Expert Teaching
                div.card-box 
                    div.card-img 
                        img(src="/static/img/3.png", alt="")
                    div.card-container 
                        | This is the best academy Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo?
        section#sponsersSection 
            h2 Our sponsers 
            div#sponsors 
                img(src="/static/img/logo1.png", alt="Sponser images" class="spImage")
                img(src="/static/img/logo2.png", alt="Sponser images" class="spImage")
                img(src="/static/img/logo3.png", alt="Sponser images" class="spImage")
                img(src="/static/img/logo4.png", alt="Sponser images" class="spImage")